<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Importamos el head -->
    <%- include('./partials/head.ejs'); %> 
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- Importamos el header -->
    <%- include('./partials/header.ejs'); %> 
    <main>
        <section class="lista-bots">
            <% if(listaBots.length == 0) { %> 
                <h2 class="no-bot">No hay ningún bot registrado</h2>
                <a href="/agregarBot" class="no-bot enlace-no-bot">Clic para registrar un nuevo bot</a>
            <% } %> 

            <% if(listaBots.length > 0) { %> 
                <h2>Lista de bots registrados</h2>
                <% listaBots.forEach(bot => { %> 
                    <article>
                        <span class="icon icon-circle"></span>
                        <div class="img-content">
                            <img alt="imagen-bot" src="/img/bots/1.jpg"/>
                        </div>
                        
                        <div class="bot-content">
                            <p>Nombre del bot: <span><%= bot.nombreBot %> </span></p>
                            <p>Hostname: <span><%= bot.hostname %> </span></p>
                            <p>Direccion IP: <span><%= bot.direccionIP %> </span></p>
                            <span class="boton-administrar"><a href=<%= `/infoBot/${bot.nombreBot}/${bot.hostname}` %> >ADMINISTRAR</a></span>
                        </div>                    
                    </article>
                <% }) %>                 
            <% } %> 
            

        </section>
    </main>
    <!-- Importamos el footer -->
    <%- include('./partials/footer.ejs') %> 
</body>
</html>