<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Importamos el head -->
    <%- include('./partials/head.ejs'); %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Importamos el header exclusivo para el login -->
    <%- include('./partials/headerLogin.ejs') %> 
    <main>
        <section class="imagen-login">
            <img src="/img/bot-login.png" alt="">
        </section>
        <section class="fomulario-login">
            <form method="POST" action="/">
                <h2>Login</h2>
                <h4 class="mensaje-error">Hola</h4>
                <% if(primerError) { %> 
                    <h4 class="mensaje-error-backend"> <%= primerError.msg %>  </h4>
                <% } %> 
                <label for="user">Usuario</label>
                <input type="text" placeholder="Nombre de usuario" name="user" value="<%= old && old.user %>" />

                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Password">
                <div class="buttons">
                    <label for="btn-send" class="btn-send">Enviar</label>
                    <button type="submit" id="btn-send"></button>
                </div>
            </form>
        </section>
    </main>
    <!-- Importamos el footer -->
    <%- include('./partials/footer.ejs') %>
    <script src="/js/procesarLogin.js"></script>
</body>

</html>